.text{
    color: blue;

}
.flex{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
}
.tengah{
    text-align: center;
}
.bag{
    background-color: rgb(1, 20, 17);
    padding: 15px;
    color: azure;
}
.tag {
    background-color: black;
    padding: 15px;
    color: azure;
    font-size: 30px;
}
